@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #181818;
  cursor: url(images/cursor.png), auto;
}

/* HEADER */
header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  color: lightgray;
}

header .hero .logo {
  height: inherit;
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .hero .logo h1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 7rem);
  color: #F4F4F4;
  padding-top: 2.5vw;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

header .hero .logo p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 2rem;
  margin-top: 1.5vw;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
}

header .hero .svg-hero {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: inherit;
}

header .hero .svg-hero svg {
  margin-left: 5vw;
  max-height: 800px;
  height: 100vh;
}

header .hero .svg-hero svg #bulb {
  opacity: 0.5;
}

header .hero .svg-hero svg #bulb:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

header .hero nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10vw;
  width: 50%;
  height: inherit;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header .hero nav ul {
  list-style: none;
  position: relative;
}

header .hero nav ul li {
  padding: 10% 0;
}

header .hero nav ul li a {
  text-decoration: none;
  color: #F4F4F4;
  font-family: "Ubuntu Mono", monospace;
  opacity: 0.5;
  font-size: 2rem;
  cursor: url(images/cursor_click.png), auto;
}

header .hero nav ul li a:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

header .hero .scroll {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
}

header .hero .scroll ul {
  list-style: none;
}

header .hero .scroll ul li {
  display: inline-block;
  margin: 2vh 1vw 2vh 0;
  padding: 0.5vh 0.5vw;
}

header .hero .scroll ul li a {
  padding: 0.5vh 0.5vw;
  border-radius: 10px;
  border: #F4F4F4 4px solid;
  background-color: #F4F4F4;
  text-decoration: none;
  color: #181818;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.5rem;
  opacity: 0.5;
  cursor: url(images/cursor_click.png), auto;
}

header .hero .scroll ul li a:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

/* END HEADER */
/* ABOUT */
.about {
  height: 100vh;
  background-image: url(images/porfolio_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.about .description p {
  color: #F4F4F4;
  font-family: "Ubuntu Mono", monospace;
  font-size: 2rem;
  padding: 0 25vw;
  text-align: center;
}

.about .icons {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .icons svg {
  margin-top: 1%;
  height: 250px;
  fill: #F4F4F4;
}

.about .icons #html:hover {
  fill: #FC490B;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.about .icons #css:hover {
  fill: #2196F3;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.about .icons #javascript:hover {
  fill: #f7df1e;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.about .links-about {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #592F00;
}

.about .links-about a {
  text-decoration: none;
  color: #F4F4F4;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  opacity: 0.5;
  cursor: url(images/cursor_click.png), auto;
}

.about .links-about a:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

/* END ABOUT */
/* PROJECTS */
.projects {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #592F00 url(images/pre-contact.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  color: #F4F4F4;
}

.projects .tnymun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 8vh;
}

.projects .tnymun .card {
  background-color: #181818;
  border-radius: 0 50px 50px 0;
  height: 100%;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .tnymun .card h1 {
  margin-top: -4%;
  font-family: "Ubuntu Mono", monospace;
  font-size: 70px;
  opacity: 0.5;
  margin-left: 2%;
}

.projects .tnymun .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .tnymun .card .card-info p {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.projects .tnymun .card .card-info img {
  height: 200px;
  border-radius: 20px;
  margin: 2%;
}

/* END PROJECTS */
/*# sourceMappingURL=style.css.map */