@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

$heading-font: 'Ubuntu Mono', monospace;
$light-gray: #F4F4F4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
}

header {
    .hero {
        display: flex;
        height: 100vh;
        width: 100%;
        color: lightgray;

        .logo {
            height: inherit;
            padding-left: 5vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h1 {
                font-family: $heading-font;
                font-weight: 700;
                font-size: 7rem;
                color: $light-gray;
                padding-top: 2.5vw;
                letter-spacing: 0.2rem;
                text-decoration: none;
            }

            p {
                font-family: $heading-font;
                font-size: 2rem;
                margin-top: 1.5vw;
                font-weight: 400;
                text-transform: uppercase;
                opacity: 0.3;
                border-right: 2px solid white;
                animation: typing 15s steps(19) infinite, blink 0.8s step-end infinite;
                white-space: nowrap;
                overflow: hidden;
            }

            @keyframes blink {
                50% {
                    border-color: transparent;
                }
            }

            @keyframes typing {
                0% {width: 0ch;}
                30% {width: 19ch;}
                80% {width: 19ch;}
                90% {width: 0ch;}
                100% {width: 0ch;}
            }
        }

        .svg-hero {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: inherit;

            svg {
                margin-left: 5vw;
                height: 100vh;

                #bulb {
                    opacity: 0.5;
                }

                #bulb:hover {
                    opacity: 1;
                    transition: 0.3s ease all;
                }
            }
        }

        nav {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-bottom: 10vw;
            /* padding-left: 7vw; */
            width: 50%;
            height: inherit;

            ul {
                list-style: none;
                position: relative;

                li {
                    padding: 10% 0;

                    a {
                        text-decoration: none;
                        color: $light-gray;
                        font-family: $heading-font;
                        opacity: 0.5;
                        font-size: 2rem;
                    }
    
                    a:hover {
                        opacity: 1;
                        transition: 0.3s ease all;
                    }
                }
            }
        }
    }
}