@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #181818;
  cursor: url(images/cursor.png), auto;
}

/* HEADER */
header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  color: lightgray;
  background: #181818 url(images/bg-hero.svg);
  background-size: 80vh 80vw;
  background-repeat: no-repeat;
  background-position: center;
}

header .hero .logo {
  height: inherit;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero .logo h1 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 7rem);
  color: #F4F4F4;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

header .hero nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: inherit;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

header .hero nav ul {
  list-style: none;
  position: relative;
}

header .hero nav ul li {
  padding: 10% 0;
}

header .hero nav ul li a {
  text-decoration: none;
  color: #F4F4F4;
  font-family: "Ubuntu Mono", monospace;
  opacity: 0.5;
  font-size: 2rem;
  cursor: url(images/cursor_click.png), auto;
}

header .hero nav ul li a:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

header .hero .scroll {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
}

header .hero .scroll ul {
  list-style: none;
}

header .hero .scroll ul li {
  display: inline-block;
  margin: 2vh 1vw 2vh 0;
  padding: 0.5vh 0.5vw;
}

header .hero .scroll ul li a {
  padding: 0.5vh 0.5vw;
  border-radius: 10px;
  border: #F4F4F4 4px solid;
  background-color: #F4F4F4;
  text-decoration: none;
  color: #181818;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.5rem;
  opacity: 0.5;
  cursor: url(images/cursor_click.png), auto;
}

header .hero .scroll ul li a:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

/* MEDIA QUERIES HEADER */
@media (max-width: 1000px) {
  .hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav {
    position: absolute;
  }
  nav ul {
    display: none;
  }
}

/* END MEDIA QUERIES HEADER */
/* END HEADER */
/* ABOUT */
.about {
  height: 100vh;
  background-image: url(images/porfolio_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.about .description p {
  color: #F4F4F4;
  font-family: "Ubuntu Mono", monospace;
  font-size: clamp(20px, 2vw, 32px);
  padding-left: clamp(45px, 15vw, 450px);
  padding-right: clamp(45px, 15vw, 450px);
  text-align: center;
}

.about .icons {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .icons svg {
  margin: 1% 5%;
  width: 20vw;
  max-width: 250px;
  fill: #F4F4F4;
}

.about .links-about {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #592F00;
}

.about .links-about a {
  text-decoration: none;
  color: #F4F4F4;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  padding: 0 10vw;
  opacity: 0.5;
  cursor: url(images/cursor_click.png), auto;
}

.about .links-about a:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.cv-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cv-div #cv {
  width: 80vw;
  margin: 10vh 0;
}

/* MEDIA QUERIES ABOUT */
@media (max-width: 1000px) {
  .about {
    height: auto;
    margin-top: 10vh;
    background-size: cover;
  }
  .about .icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .links-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .links-about a {
    margin: 5% 0;
    font-size: 5vw;
  }
}

/* END MEDIA QUERIES ABOUT */
/* END ABOUT */
/* PROJECTS */
.projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #592F00;
}

.projects .project_right, .projects .project_left {
  margin-top: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project_right .description-right, .projects .project_left .description-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .project_right .description-right p, .projects .project_left .description-right p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 30px;
  text-align: right;
  font-weight: 400;
  color: #F4F4F4;
}

.projects .project_right .description-right .links-description, .projects .project_left .description-right .links-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects .project_right .description-right .links-description a, .projects .project_left .description-right .links-description a {
  padding: 10% 0 5% 8%;
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-size: 25px;
  color: #F4F4F4;
  text-transform: uppercase;
  opacity: 0.5;
}

.projects .project_right .description-right .links-description a:hover, .projects .project_left .description-right .links-description a:hover {
  opacity: 1;
  cursor: url(images/cursor_click.png), auto;
}

.projects .project_right .description-left, .projects .project_left .description-left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .project_right .description-left p, .projects .project_left .description-left p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 30px;
  text-align: left;
  font-weight: 400;
  color: #F4F4F4;
}

.projects .project_right .description-left .links-description, .projects .project_left .description-left .links-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project_right .description-left .links-description a, .projects .project_left .description-left .links-description a {
  padding: 10% 8% 5% 0;
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-size: 25px;
  color: #F4F4F4;
  text-transform: uppercase;
  opacity: 0.5;
}

.projects .project_right .description-left .links-description a:hover, .projects .project_left .description-left .links-description a:hover {
  opacity: 1;
  cursor: url(images/cursor_click.png), auto;
}

.projects .project_right svg, .projects .project_left svg {
  width: 60vw;
  max-width: 540px;
}

.projects .project_right svg #tnymun:hover, .projects .project_left svg #tnymun:hover {
  cursor: url(images/cursor_click.png), auto;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.projects .project_right svg #es:hover, .projects .project_left svg #es:hover {
  cursor: url(images/cursor_click.png), auto;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.projects .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20vh;
}

.projects .others p {
  font-family: "Ubuntu Mono", monospace;
  text-transform: uppercase;
  color: #F4F4F4;
  padding: 0 10vw;
  font-size: 2rem;
  font-weight: 700;
}

.projects .others p a {
  text-decoration: none;
  color: #F4F4F4;
  opacity: 0.5;
}

.projects .others p a:hover {
  opacity: 1;
  cursor: url(images/cursor_click.png), auto;
}

/* MEDIA QUERIES PROJECTS */
@media (max-width: 1000px) {
  .projects .project_right {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .project_right svg {
    /* display: none; */
  }
  .projects .project_right .description-right {
    width: 70vw;
  }
  .projects .project_right .description-right p {
    font-size: 20px;
    text-align: center;
  }
  .projects .project_right .description-right .links-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vh;
  }
  .projects .project_right .description-right .links-description a {
    font-size: 5vw;
    padding: 2vh 0;
  }
  .projects .project_left {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .project_left svg {
    /* display: none; */
  }
  .projects .project_left .description-left {
    width: 70vw;
  }
  .projects .project_left .description-left p {
    font-size: 20px;
    text-align: center;
  }
  .projects .project_left .description-left .links-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2vh;
  }
  .projects .project_left .description-left .links-description a {
    font-size: 5vw;
    padding: 2vh 0;
  }
  .projects .others p {
    text-align: center;
  }
}

/* END MEDIA QUERIES PROJECTS */
/* END PROJECTS */
/* CONTACT */
.contact {
  height: 100vh;
  width: 100%;
  padding-top: 10vh;
  background: #181818 url(images/contact-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F4F4F4;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
}

.contact .contact-info h1 {
  font-size: clamp(50px, 10vw, 120px);
  margin-bottom: 5vh;
}

.contact .contact-info p {
  font-size: clamp(20px, 5vw, 30px);
  margin-top: 5vh;
}

.contact .contact-info .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-info .contact-icons svg {
  margin: 10vh 2vw 0 2vw;
  width: 50px;
  height: 50px;
}

.contact .contact-info .contact-icons a {
  opacity: 0.5;
}

.contact .contact-info .contact-icons a:hover {
  cursor: url(images/cursor_click.png), auto;
  opacity: 1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* MEDIA QUERIES CONTACT */
@media (max-width: 1000px) {
  .contact {
    background-size: cover;
    background-position: top;
  }
}

/* END MEDIA QUERIES CONTACT */
/* END CONTACT */
/*# sourceMappingURL=style.css.map */